.marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: .25em .25em 1em rgba(black, .3);
  background-color: gray;
  cursor: pointer;

  &.markerGood {
    background-color: #ff4d4f;
  }

  &.markerModerate {
    background-color: #d48806;
  }

  &.markerBad {
    background-color: #52c41a;
  }

  &.markerWithPointCount {
    width: 50px;
    height: 50px;
  }

  &.markerAvailablePoint {
    background-color: #0050b3;
    width: 60px;
    height: 60px;
  }
}

.icon {
  font-size: 2em;
  color: white;
}

.pointCount {
  color: white;
}
