.placeCategory {
  margin-bottom: 1em;
}

.heading {
  font-weight: bold;
}

.content {
  &.contentGood {
    color: #ff4d4f;

  }

  &.contentModerate {
    color: #d48806;
  }

  &.contentBad {
    color: #52c41a;
  }
}