.geocoderContainer {
  position: fixed;
  top: 70px;
  left: 10px;
  right: 10px;
  z-index: 1000;

  @media (min-width: 900px) {
    left: unset;
    right: 15px;
    top: 15px;
  }

  &.geocoderContainerHidden {
    display: none;
  }
}

.button {
  position: fixed;
  z-index: 10000;
  right: 25px;
  bottom: 25px;
}